/* FONTS & SETTINGS */

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Regular.eot');
    src: local('Gilroy-Medium'), local('Gilroy-Medium'), url('../style/fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'), url('../style/fonts/Gilroy-Medium.woff2') format('woff2'), url('../style/fonts/Gilroy-Medium.woff') format('woff'), url('../style/fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Bold.eot');
    src: local('Gilroy-Bold'), local('Gilroy-Bold'), url('../style/fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'), url('../style/fonts/Gilroy-Bold.woff2') format('woff2'), url('../style/fonts/Gilroy-Bold.woff') format('woff'), url('../style/fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Black.eot');
    src: local('Gilroy-Black'), local('Gilroy-Black'), url('../style/fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'), url('../style/fonts/Gilroy-Black.woff2') format('woff2'), url('../style/fonts/Gilroy-Black.woff') format('woff'), url('../style/fonts/Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


/* CART & LANGUAGE HIDE */

.languageList {
    display: none;
}

.mbMenu {
    display: none;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gilroy';
    font-weight: 700;
    color: #3F2B4F;
}

ul,
li {
    list-style-type: none;
}

button {
    outline: none;
    border: none;
}

:root {
    --BlueColor: #0375FA;
}

.container {
    width: 1240px;
    margin: 0 auto;
}


/* HEADER */

.hamburger {
    display: none;
}

.header {
    height: 100vh;
    background: #F4F9FF;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 25px;
    background: #F4F9FF;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logotype {
    width: 150px;
}

.language {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #3F2B4F;
}

.languageFlag {
    margin-right: 12px;
}

.language p {
    margin-right: 12px;
}

.navbarList {
    display: flex;
    align-items: center;
}

.navbarListLeft {
    display: flex;
    align-items: center;
}

.navbarListLeft>a {
    margin-right: 60px;
}

.language {
    margin-left: 0px;
    cursor: pointer;
    position: relative;
}

.languageList {
    top: 30px;
    left: -15px;
    position: absolute;
    width: auto;
    height: auto;
    padding: 15px;
    padding-top: 10px;
    background: white;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    display: none;
}

.languageListItem {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.languageListItem img {
    margin-right: 12px;
    width: 24px;
    height: 14px;
}

.navbarLink {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #3F2B4F;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
    padding-bottom: 5px;
}

.navbarLink:hover {
    border-bottom: 2px solid #0375FA;
    color: #0375FA;
}

.navbarLinks {
    position: relative;
}

.navbarLinks li {
    margin-right: 30px;
}

.navbarLinkCart a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbarLinkCart p {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    color: #0375FA;
    margin-right: 10px;
}

.navbarLinkCart i {
    color: #0375FA;
}

.headerContent h1 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    line-height: 71px;
    color: #0375FA;
    width: 600px;
}

.headerContentLeft {
    width: 640px;
}

.headerContent {
    margin-top: 100px;
}

.headerContent p {
    margin-top: 20px;
    line-height: 25px;
}

.blueButton {
    padding: 16px 50px;
    background: #0375FA;
    color: white;
    cursor: pointer;
    font-size: 22px;
    transition: 0.3s;
    border-bottom: 2px solid transparent;
}

.blueButton:hover {
    background: transparent;
    color: #0375FA;
    border-bottom: 2px solid #0375FA;
}

.buttonHeader {
    margin-top: 30px;
}

.headerImage {
    width: 40%;
    max-width: 440px;
}

.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* INFO */

.info {
    padding-top: 100px;
    padding-bottom: 100px;
}

.info h1 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 45px;
    text-transform: uppercase;
    color: #0375FA;
}

.infoContent {
    margin-top: 70px;
    display: grid;
    gap: 70px;
    grid-template-columns: repeat(3, 1fr);
}

.infoItem {
    height: 300px;
    box-shadow: 0px 0px 29px rgba(0, 0, 0, 0.11);
    border-radius: 5px;
    padding: 30px;
    position: relative;
}

.infoItemTitle {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: #0375FA;
}

.infoTitleDesc {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    color: #3F2B4F;
    margin-top: 10px;
}

.infoItemNumber {
    position: absolute;
    right: 20px;
    bottom: 0px;
    color: rgba(63, 43, 79, 0.1);
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 134px;
}

.blueSection {
    background: #0375FA;
}

.blueSection p {
    color: white;
}

.blueSection h1 {
    color: white;
}

.blockSection {
    padding-top: 130px;
    padding-bottom: 130px;
}

.blockText {
    max-width: 614px;
    width: 50%;
}

.blockText p {
    margin-top: 30px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #DDDDDD;
}

.blockText h1 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 45px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.whiteButton {
    background: white;
    color: #0375FA;
    font-size: 18px;
}

.whiteButton:hover {
    border-bottom: 2px solid white;
    color: white;
}

.blockText button {
    margin-top: 40px;
}

.blockWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blockImage {
    width: 485px;
    height: 330px;
    border-radius: 10px;
    position: relative;
}

.networkBuble {
    position: absolute;
    left: -50px;
    bottom: 50px;
    z-index: 0;
}

.blockPicture {
    position: relative;
    z-index: 99;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.whiteSection p {
    color: rgba(63, 43, 79, 0.78);
}

.whiteSection h1 {
    color: #0375FA;
}

.blockText .blueButton {
    font-size: 18px;
}

.revert {
    display: flex;
    flex-direction: row-reverse;
}


/* AUDIENCE */

.audienceBuble {
    position: absolute;
    right: -50px;
    top: 60px;
}


/* STATS */

.statsContainer {
    max-width: 100%;
    width: 50%;
    margin: 0 auto;
}

.stats {
    height: 450px;
    background-image: url(../images/statsImage.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
}

.statsMask {
    width: 100%;
    height: 100%;
    background: rgba(3, 117, 250, 0.57);
    position: absolute;
    left: 0;
    top: 0;
}

.statsContainer {
    position: relative;
    z-index: 99;
}

.statsContainer {
    text-align: center;
}

.statsItems {
    margin-top: 60px;
    display: flex;
    max-width: 1000px;
    justify-content: space-between;
    align-items: center;
}

.statsItem i {
    font-size: 76px;
    color: white;
}

.statsItemTitle {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 62px;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #FFFFFF;
}

.statsItemDesc {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.stats h1 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 66px;
    line-height: 82px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.recruitmentBuble {
    position: absolute;
    right: -100px;
    top: 40px;
}


/* HIRING */

.hiringBuble {
    position: absolute;
    right: -80px;
    top: 60px;
}

.footerWrapper {
    display: flex;
    justify-content: space-between;
}

footer {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #CBE3FE;
    /* NEW */
    position: relative;
    top: 20vh;
}

footer p {
    color: #3F2B4F;
}


/* CART */

.cart {
    background: #FFFFFF;
    box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    height: auto;
    padding: 20px;
    width: 350px;
    position: absolute;
    right: 0;
    top: 40px;
}

.navbarLinkCart {
    position: relative;
}

.cartItemTitle {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 20px !important;
    line-height: 30px;
    color: #0375FA;
    margin-bottom: 5px;
}

.packHeader i {
    display: none;
}

.checkmarkVisible {
    display: block !important;
}

.cartItemPrice {
    font-weight: 800 !important;
    font-size: 14px !important;
    line-height: 22px;
    color: #92869B !important;
}

.cartItem {
    border-bottom: 2px solid #CBE3FE;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartItemDelete {
    cursor: pointer;
}

.cartTotal p {
    font-weight: 800 !important;
    font-size: 24px !important;
    line-height: 40px !important;
    color: #92869B !important;
    margin-top: 10px;
}

.cartTotal span {
    color: #92869B !important;
}

.buttonBusket {
    width: 50%;
    background: #0375FA;
    color: white;
    height: 40px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
    border-bottom: 2px solid transparent;
}

.buttonBusket:hover {
    border-bottom: 2px solid #0375FA;
    background: white;
    color: #0375FA;
}

.whiteBusket {
    background: transparent;
    width: 50%;
    cursor: pointer;
    color: #0375FA;
}

.cartButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.cartTop {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 50%;
}


/* PRICE PAGE */

.headerPage {
    background: white;
}

.headerPage {
    height: auto;
    box-sizing: border-box;
}

.cartItemPrice span {
    font-weight: 900;
    color: #92869B;
}

.pageHeader h1 {
    font-family: 'Gilroy';
    font-weight: 800;
    font-size: 56px;
    line-height: 70px;
    text-transform: uppercase;
    color: #0375FA;
    max-width: 540px;
}

.pageHeader p {
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    max-width: 540px;
    color: rgba(63, 43, 79, 0.78);
    margin-top: 10px;
}

.package {
    margin-top: 20px;
    padding-bottom: 100px;
}

.packList {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    gap: 40px;
}

.packItem {
    padding: 20px;
    height: auto;
    box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.packHeader i {
    font-size: 26px;
    color: #0375FA;
}

.packHeader {
    display: flex;
    justify-content: space-between;
}

.packHeader p {
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-transform: uppercase;
    color: #0375FA;
}

.packItem form {
    display: grid;
}

.packFormItem input {
    margin-right: 15px;
}

.packFormItem label {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    color: rgba(63, 43, 79, 0.57);
}

.packFormItem span {
    color: #0375FA;
}

.packFormItem {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.activeLabel {
    color: #0375FA !important;
}

.packIncludedTitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
    text-transform: uppercase;
    color: #0375FA;
    margin-top: 30px;
}

.packIncludedItems {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.packIncludedItems a {
    margin-right: 20px;
    color: #92869B;
    margin-top: 10px;
    text-decoration: none;
}

.packDescription {
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 148.3%;
    color: #3F2B4F;
    margin-top: 20px;
}

.packPagination {
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    width: 230px;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    cursor: pointer;
}

.packPagination i {
    color: #92869B;
    transition: 0.3s;
}

.packPagination p {
    transition: 0.3s;
    color: #92869B;
}

.packPagination p:hover {
    color: #3F2B4F;
}

.packPagination i:hover {
    color: #3F2B4F;
}

.pageHeader {
    padding-top: 50px;
    padding-bottom: 50px;
}

.cartItemPrice {
    font-weight: 500 !important;
}


/* SHOPPING PAGE */

.shoppingList {
    padding-bottom: 50px;
}

.shoppingItem {
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    background: white;
    padding: 15px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shoppingItemOpen {
    height: auto;
}

.shoppingItemVisible {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shoppingItem {
    display: block;
}

.shoppingItem i {
    font-size: 24px;
    color: #0375FA;
    cursor: pointer;
}

.shoppingItemClick {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: rgba(146, 134, 155, 0.59);
    cursor: pointer;
    margin-top: 10px;
}

.shoppingItemClick span {
    font-weight: 700;
}

.shoppingItemTitle {
    font-weight: 700;
    font-size: 26px;
    line-height: 35px;
    text-transform: uppercase;
    color: #0375FA;
}

.shoppingItemDesc {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #92869B;
    margin-top: 5px;
}

.shoppingItemHidden {
    display: none;
}

.shoppingItemOpen .shoppingItemHidden {
    display: block;
}

.shoppingItem {
    max-height: 120px;
}

.shoppingItemOpen {
    max-height: max-content;
}

.shoppingItemDesc {
    font-weight: 500;
}

.shoppingList {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
}

.shoppingBlue {
    padding: 12px 45px;
    background: #0375FA;
    color: white;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: 0.3s;
    font-size: 18px;
}

.shoppingBlue:hover {
    background: transparent;
    color: #0375FA;
    border-bottom: 2px solid #0375FA;
}

.shoppingButtons {
    margin-bottom: 40px;
}

.shoppingWhite {
    padding: 12px 45px;
    background: white;
    color: #0375FA;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: 0.3s;
    font-size: 18px;
}


/* CHECKOUT */

.checkout {
    padding-bottom: 50px;
}

.checkoutCompany p {
    font-weight: 800;
    font-size: 20px;
    line-height: 141.5%;
    color: #0375FA;
    margin-bottom: 20px;
}

.checkoutCompany div {
    width: 640px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.checkoutInput {
    border-radius: 5px;
    height: 40px;
    color: #92869B;
    border: 1px solid #92869B;
    padding-left: 10px;
    outline: none;
}

.checkoutInput:focus {
    color: #0375FA;
    border: 1px solid #0375FA;
}

.checkoutInput:focus::placeholder {
    color: #0375FA;
}

.checkoutPayment {
    display: block !important;
    margin-top: 40px;
}

.paymentMethod {
    display: flex !important;
    align-items: center;
    margin-bottom: 5px;
}

.paymentMethod label {
    color: #92869B;
    font-weight: 800;
}

.labelChecked {
    color: #0375FA !important;
}

.checkoutButton {
    margin-top: 30px;
    padding: 8px 47px;
    font-size: 18px;
}

.checkoutInfo {
    display: flex;
    justify-content: space-between;
}

.checkoutSelected {
    width: 320px;
}

.checkoutSelected>p {
    font-weight: 800;
    font-size: 20px;
    color: #0375FA;
    margin-bottom: 20px;
}

.checkoutItem div {
    display: flex;
    justify-content: space-between;
}

.checkoutItem div p {
    font-size: 16px;
}

.checkoutItemDesc {
    font-weight: 500;
    font-size: 16px !important;
    font-weight: 500 !important;
    color: #92869B !important;
}

.checkoutItemDesc span {
    color: #92869B;
}

.checkoutItemDesc span {
    font-weight: 800;
}

.checkoutItem>div>p {
    font-weight: 800;
    color: #0375FA;
    margin-bottom: 5px;
}

.checkoutItem {
    margin-bottom: 20px;
}

.checkoutSelectedButton {
    width: 100%;
    height: 45px;
    background: #0375FA;
    font-weight: 800;
    color: white;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
    border-bottom: 2px solid transparent;
}

.checkoutSelectedButton:hover {
    border-bottom: 2px solid #0375FA;
    background: transparent;
    color: #0375FA;
}

.checkoutLine {
    height: 1px;
    background: #92869B;
    border: none;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.checkoutBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkoutBottom p {
    font-weight: 700;
    font-size: 16px;
    line-height: 141.5%;
    color: #0375FA;
}

.checkoutTotal {
    font-weight: 700 !important;
    font-size: 16px;
    line-height: 141.5%;
    color: #92869B !important;
}

.cartEmptyTitle {
    font-style: normal;
    font-weight: 700 !important;
    font-size: 24px !important;
    line-height: 35px !important;
    color: #3F2B4F !important;
}

.cartEmptyDesc {
    font-style: normal;
    font-weight: 500 !important;
    font-size: 12px !important;
    line-height: 22px !important;
    color: #92869B !important;
}

.cartEmptyLine {
    border: none;
    width: 100%;
    height: 2px;
    background: #CBE3FE;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* MEDIA */

@media (max-width: 1280px) {
    .packList {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
    .container {
        width: 90%;
    }
}

@media (max-width: 1100px) {
    .checkoutInfo {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
    .checkoutSelected {
        width: 100%;
        margin: 0 auto;
    }
    .checkoutCompany {
        width: 100%;
        margin: 0 auto;
        margin-top: 50px;
    }
    .checkoutCompany div {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .header {
        height: 70vh;
    }
    .infoContent {
        gap: 30px;
    }
    .blockImage {
        width: 385px;
        height: 270px;
    }
    .statsContainer {
        width: 70%;
    }
    .audienceBuble {
        width: 70%;
    }
    .recruitmentBuble {
        width: 70%;
        right: -40px;
    }
    .networkBuble {
        width: 70%;
    }
    .hiringBuble {
        width: 70%;
        right: -40px;
    }
    .headerPage {
        height: auto;
    }
}

@media (max-width: 768px) {
    .navbarLinks {
        display: none !important;
    }
    .menuLoginButtons {
        display: none;
    }
    .navbarList>li:last-child {
        display: block !important;
    }
    .headerContent {
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
    .headerImage {
        width: 100%;
    }
    .header {
        height: auto;
        padding-bottom: 50px;
    }
    .headerContent {
        margin-top: 50px;
    }
    .headerImage {
        width: 50%;
        margin-bottom: 50px;
    }
    .infoContent {
        grid-template-columns: repeat(2, 1fr);
    }
    .blockWrapper {
        display: block;
    }
    .blockText {
        width: 90%;
    }
    .blockSection {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .blockImage {
        width: 100%;
        height: auto;
        margin: 0 auto;
        margin-top: 50px;
    }
    .recruitmentBuble {
        top: 0px;
    }
    .hiringBuble {
        top: 0px;
    }
}

@media (max-width: 768px) {
    .headerContentLeft {
        width: 100%;
    }
    .info {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .infoContent {
        grid-template-columns: repeat(1, 1fr);
    }
    .blockText h1 {
        font-size: 32px;
    }
    .stats h1 {
        font-size: 46px;
    }
    .statsContainer {
        width: 90%;
    }
    .menuLoginButton {
        font-size: 28px;
    }
    .menuLoginButton img {
        width: 30px;
    }
    .menuLoginButton a {
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .packList {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
        background-color: var(--BlueColor);
    }
    .shoppingList {
        gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }
    .header {
        padding-bottom: 25px;
    }
    .hamburger {
        display: block;
    }
    .navbarButton {
        display: none;
    }
    .mbMenu {
        display: block;
        width: 100vw;
        height: 100vh;
        background: white;
        position: fixed;
        left: -100%;
        top: 0;
        transition: 0.7s;
        z-index: 999999999;
    }
    .mbMenuContainer {
        width: 90%;
        margin: 0 auto;
        padding-top: 20px;
    }
    .mbMenuContainer li {
        width: 100%;
        text-align: center;
        margin-bottom: 70px;
    }
    .mbMenuContainer ul {
        display: block;
    }
    .navbarMbButton {
        display: block;
    }
    .navbarMbButton button {
        font-size: 28px !important;
        padding: 15px 35px !important;
    }
    .navbarLink {
        font-size: 28px;
    }
    .mbMenuClose {
        display: flex;
        justify-content: end;
    }
    .menuVisible {
        left: 0 !important;
    }
}

@media (max-width: 551px) {
    .footerWrapper {
        display: block;
        text-align: center;
    }
    .footerWrapper img {
        margin-bottom: 20px;
    }
    .shoppingBlue {
        width: 100%;
        height: 50px;
    }
    .shoppingWhite {
        width: 100%;
        margin-top: 20px;
    }
}

@media (max-width: 490px) {
    .logotype {
        width: 120px;
    }
    .language {
        margin-left: 20px;
    }
    .headerImage {
        width: 80%;
    }
    .footerWrapper {
        display: block;
        text-align: center;
    }
    .footerWrapper img {
        margin-bottom: 20px;
    }
    .headerContent h1 {
        font-size: 52px;
        width: 100%;
    }
    .info h1 {
        font-size: 30px;
    }
    .blockText {
        width: 100%;
    }
    .checkoutCompany div {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }
}

@media (max-width: 430px) {
    .statsItem i {
        font-size: 40px;
    }
    .statsItemTitle {
        font-size: 42px;
    }
}

@media (max-width: 414px) {
    .hiringBuble {
        display: none;
    }
    .networkBuble {
        display: none;
    }
    .recruitmentBuble {
        display: none;
    }
    .audienceBuble {
        display: none;
    }
    .networkBuble {
        display: none;
    }
    .stats h1 {
        font-size: 36px;
    }
    .headerContent h1 {
        font-size: 42px;
        width: 100%;
    }
}

.languageList {
    display: none !important;
}


/* NEW PAGES */

.navbarButton .blueButton {
    padding: 10px 25px;
    font-size: 16px;
}

.landingHeaderBoxes>div {
    width: 60%;
    height: auto;
    padding: 30px;
}

.landBoxTop {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 136.5%;
    letter-spacing: -0.02em;
    color: #3F2B4F;
}

.landBoxTitle {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 143%;
    letter-spacing: -0.02em;
    color: #3F2B4F;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 70px;
}

.landBoxTitle span {
    font-weight: 700;
}

.landingHeaderBoxes {
    margin-top: 50px;
}

.landBoxSubtitle {
    font-weight: 400;
}

.landBoxSubtitle span {
    font-weight: 700;
}

.landingHeaderBoxes {
    display: flex;
    justify-content: space-between;
}

.colorBox {
    background: #ECF4FF;
    width: 50% !important;
}

.landButtonBox {
    font-size: 16px;
    padding: 15px 25px;
    margin-top: 40px;
}

.labelsList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.landHeaderLabels {
    margin-top: 150px;
}

.labelItem {
    width: auto;
    height: 180px;
    border: 1px solid rgba(3, 117, 250, 0.45);
    text-align: center;
    background: white;
}

.labelItem img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.labelItem {
    position: relative;
}

.landHeader {
    height: auto;
    padding-bottom: 150px;
}

.landFooter {
    top: 0;
}

.landFooter .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkLabels {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 136.5%;
    letter-spacing: -0.02em;
    text-decoration-line: underline;
    color: #3F2B4F;
    top: 70px;
    position: relative;
}

@media (max-width: 1024px) {
    .landHeader .navbarList {
        flex-wrap: wrap;
    }
    .landHeader .navbarList li {
        margin-bottom: 20px;
    }
    .landingHeaderBoxes {
        display: block;
    }
    .landingHeaderBoxes>div {
        width: 100%;
    }
    .colorBox {
        width: 100% !important;
    }
    .labelsList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .landBoxTitle {
        margin-top: 50px;
        margin-bottom: 35px;
    }
    .labelsList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width: 600px) {
    .labelItem {
        height: 140px;
    }
    .landHeaderLabels {
        margin-top: 60px;
    }
}

@media (max-width: 490px) {
    .landingHeaderBoxes {
        margin-top: 0px;
    }
    .labelItem img {
        width: 70%;
    }
    .landFooter .container {
        display: block;
        text-align: center;
    }
    .landFooter .container img {
        margin-bottom: 20px;
    }
    .landBoxTitle {
        font-size: 24px;
    }
    .landBoxSubtitle {
        font-size: 14px;
    }
}

@media (max-width: 430px) {
    .labelItem {
        height: 100px;
    }
}

.labelFiltersList select {
    height: 50px;
    outline: none;
    border: none;
    color: #3F2B4F;
    background: #CBE3FE;
    padding-left: 20px;
    border-radius: 5px;
}

.labelFiltersList select::after {
    right: 20px;
    position: relative;
}

.labelFiltersList {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
    margin-bottom: 60px;
}


/* Style The Dropdown Button */

.dropbtn {
    background-color: #CBE3FE;
    color: #3F2B4F;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    width: 100%;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: left;
    border-radius: 5px;
    transition: 0.3s;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn::after {
    content: url('../images/downArrow.svg');
    position: absolute;
    top: 15px;
    bottom: 0;
    right: 20px;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown-content div:hover {
    background-color: #f1f1f1
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background-color: #CBE3FE;
}

.dropdown-content a {
    display: flex;
    align-items: center;
}

.dropdown-content div {
    display: flex;
    align-items: center;
}

.dropdown-content a>img {
    margin-right: 10px;
}

.dropdown-content div>img {
    margin-right: 10px;
}

.labelPagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin: 0 auto;
    margin-top: 50px;
}

.labelPagination p {
    font-weight: 700;
    font-size: 22px;
    line-height: 136.5%;
    letter-spacing: -0.02em;
    color: rgba(63, 43, 79, 0.63);
}

.pageActive {
    color: #3F2B4F !important;
}

.labelFilters {
    margin-top: 50px;
}

.labelFilters>p {
    font-size: 20px;
}

@media (max-width: 1024px) {
    .labelFiltersList {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .labelFiltersList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 430px) {
    .labelFiltersList {
        grid-template-columns: repeat(1, 1fr);
    }
}

.dropdown-content img {
    width: 32px;
}

.content-search img {
    width: 20px;
    opacity: 0.5;
}

.content-search input {
    border: none;
    height: 30px;
    padding-left: 15px;
    font-size: 16px;
    width: 100%;
    background-color: #f1f1f1;
    outline: navajowhite;
    box-sizing: border-box;
}

.content-search:hover .searchField {
    background-color: #f1f1f1;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    max-height: 280px;
    overflow-y: hidden;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.labelPagination p {
    cursor: pointer;
}

.requestForm {
    padding-top: 5vh;
    padding-bottom: 10vh;
    transition: 0.3s;
}

.requestForm form {
    width: 400px;
    min-height: 460px;
    padding: 40px;
    margin: 0 auto;
    position: relative;
    background: white;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

.requestForm h1 {
    font-weight: 800;
    font-size: 20px;
    line-height: 141.5%;
    color: #0375FA;
    margin-bottom: 20px;
}

.requestForm input {
    width: 100%;
}

.requestForm button {
    height: 40px;
    margin-top: 20px;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 700;
    font-size: 18px;
}

.requestForm input:focus {
    border: 1px solid rgba(3, 117, 250, 1);
}

@media (max-width: 490px) {
    .requestForm form {
        width: 100%;
        height: 500px;
    }
}

.requestFromInputs {
    margin-top: 20px;
}

.requestStatusMessage {
    text-align: center;
    margin-top: 50px;
}

.requestStatusMessageTitle {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 5px;
}

.requestStatusMessageDesc {
    font-size: 16px;
    font-weight: 400;
}

.requestFormValidationError {
    font-size: 14px;
    font-weight: 700;
}

.requestFromInputs input {
    margin-top: 15px;
}

.requestFormValidationError {
    margin-top: 15px;
}

.labelPagination {
    text-align: center;
}

.labelPagination a {
    text-decoration: none;
}

.requestFromInputs textarea {
    margin-top: 15px;
    padding-top: 5px;
    width: 100%;
}

#contactMessage {
    height: 80px;
}

.contactForm form {
    width: 450px;
}

.BlackFooter {
    background: #26323b;
    padding: 25px;
    width: 100vw;
    position: relative;
    top: 0px;
    color: white;
    font-weight: 700;
    text-align: center;
}

.BlackFooter p {
    color: white;
}

body {
    overflow-x: hidden;
}

.navbarList>li:last-child {
    display: none;
}

.menuLoginButton a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.menuLoginButton img {
    margin-right: 10px;
}

.menuLoginButton {
    margin-right: 20px;
}

.labelFlag {
    position: absolute;
    left: 10px !important;
    top: 10px !important;
    width: 20px;
    right: unset !important;
    bottom: unset !important;
    display: flex;
    align-items: center;
}

.labelItem {
    position: relative;
}

.labelFlag img {
    width: 20px;
}

.labelFlag p {
    color: #3F2B4F;
    margin-left: 30px;
    font-size: 14px;
}

.labelLink {
    display: flex;
    align-items: center;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    text-align: center;
    justify-content: center;
}

.labelLink svg {
    margin-right: 10px;
    width: 20px;
}

.labelLink path {
    fill: #0375FA;
}

.labelLink p {
    color: #0375FA;
}

.labelItem {
    transition: 0.3s;
}

.labelItem:hover {
    border: 1px solid #24FF00;
}

@media (max-width: 490px) {
    .labelLink svg {
        width: 15px;
    }
    .labelLink p {
        font-size: 12px;
    }
    .labelLink {
        bottom: 10px;
    }
    .language img {
        width: 20px;
    }
    .language {
        width: auto;
        margin: 0 auto;
        font-size: 28px;
        justify-content: center;
    }
    .languageListItem {
        margin-top: 25px;
    }
    .languageList {
        top: 35px;
        left: -30px;
        position: absolute;
        width: auto;
        height: auto;
        padding: 15px;
        padding-top: 10px;
        background: white;
        box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.10);
        border-radius: 10px;
        display: none;
        padding-bottom: 35px;
    }
    .languageListItem p {
        font-size: 18px;
    }
    .landLabels a {
        margin-right: 20px;
        margin-bottom: 10px;
    }
    .landLabels img {
        width: 150px;
        max-height: 40px;
        object-fit: contain;
    }
    .landLabels a {
        margin-right: 50px;
        margin: 0 auto;
    }
    .landFeatured {
        text-align: center;
    }
    .landHeaderTitle {
        font-size: 27px !important;
    }
    .contactForm form {
        width: 100%;
        padding-bottom: 20px;
    }
    .requestForm form {
        height: auto;
    }
    .languageListItem {
        display: block;
    }
    .languageList {
        top: 45px;
        left: 130px;
        position: absolute;
        width: 200px;
        height: auto;
        margin: 0 auto;
        left: calc((100% - 200px) /2);
    }
}

@media (max-width: 444px) {
    .landLabels img {
        width: 100px;
        max-height: 40px;
        object-fit: contain;
    }
}

.landFeaturedTitle {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 143%;
    letter-spacing: -0.02em;
    color: #3F2B4F;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.landLabels {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.landLabels a {
    margin-right: 50px;
}

.landHeaderLabels {
    margin-top: 50px;
}

.landingHeaderBoxes {
    margin-top: 0px;
}

.landBoxTitle {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 143%;
    letter-spacing: -0.02em;
    color: #3F2B4F;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
}

.landHeaderTitle {
    font-size: 34px;
    text-align: center;
    margin-bottom: 50px;
}

.landBoxTop {
    color: #0375FA;
}

.labelFlag p {
    color: #3f2b4f;
    font-size: 14px;
    margin-left: 30px;
    position: relative;
    bottom: 1px;
}

.landLabels img {
    max-height: 55px;
}

@media (max-width: 490px) {
    .languageList {
        top: 45px;
    }
}


/* COMING SOON */

.comingSoon {
    display: flex;
    height: calc(100vh - 70px);
    overflow-y: hidden;
}

.leftPart {
    width: 30%;
    max-width: 450px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 80px;
    padding-bottom: 60px;
    height: 100%;
    text-align: center;
}

.rightPart {
    background: url('../images/comingSoonBackground.webp');
    height: 100%;
    width: 100%;
}

.leftTopControls {
    display: flex;
    justify-content: space-between;
}

.leftTopControls>div {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.leftTopCountry a {
    display: flex;
    align-items: center;
}

.leftTopLang p {
    font-size: 16px;
    font-weight: 600;
}

.language i {
    margin-right: 10px;
    font-size: 18px;
}

.leftTopCountry img {
    width: 20px;
    height: 13px;
    margin-right: 10px;
}

.leftTopCountry a {
    text-decoration: none;
}

.leftTopControls {
    width: 240px;
    margin: 0 auto;
}

.leftPartComingSoon {
    position: relative;
    top: 100px;
    text-transform: uppercase;
    text-align: left;
}

.leftPartComingSoon img {
    width: 365px;
}

.comingBold {
    font-style: normal;
    font-weight: 600;
    font-size: 74px;
    line-height: 136.5%;
    letter-spacing: -0.02em;
    color: #3F2B4F;
}

.comingRegular {
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 66.5%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #3F2B4F;
    text-align: left;
}

.comingPowered {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
}

.leftPart {
    position: relative;
}

.comingPowered a {
    text-decoration: none;
    color: #0375FA;
}

.rightPartContainer {
    padding-top: 10%;
    padding-bottom: 10%;
    width: 80%;
    margin: 0 auto;
}

.rightPartContainer h1 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 136.5%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.textBlock p {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 136.5%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-top: 20px;
}

.textBlock {
    height: 450px;
    overflow-y: hidden;
    position: relative;
}

.readMore {
    width: 100%;
    height: 170px;
    background: linear-gradient(180deg, rgba(3, 117, 250, 0) 0%, rgba(3, 117, 250, 0.75) 20.03%, #0375FA 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9999;
}

.readMoreButton {
    width: 150px;
    border-radius: 20px;
    background: white;
    color: #0375FA;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
}

.readMoreButton:hover .fa-solid {
    transform: rotate(-90deg);
}

.readMoreButton p {
    color: #0375FA;
    margin-top: 0;
    font-weight: 600;
}

.readMoreButton i {
    color: #0375FA;
    transition: 0.3s;
}

.textBlockFull {
    height: 550px;
    overflow-y: scroll;
}


/* width */

.textBlockFull::-webkit-scrollbar {
    width: 5px;
}


/* Track */

.textBlockFull::-webkit-scrollbar-track {
    background: white;
}


/* Handle */

.textBlockFull::-webkit-scrollbar-thumb {
    background: #3F2B4F;
}


/* Handle on hover */

.textBlockFull::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.textBlockFull .readMore {
    background: transparent;
    height: auto;
}

.textBlock {
    padding-right: 20px;
}

@media (max-width: 1600px) {
    .rightPartContainer h1 {
        font-size: 54px;
    }
}

@media (max-width: 1024px) {
    .comingSoon {
        display: block;
        height: auto;
    }
    .leftPart {
        width: 100%;
        max-width: 100%;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 40px;
        padding-bottom: 60px;
        text-align: center;
    }
    .leftPartComingSoon {
        position: relative;
        top: 0px;
        text-transform: uppercase;
        text-align: left;
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .comingBold {
        text-align: center;
    }
    .comingRegular {
        text-align: center;
    }
}

@media (max-width: 490px) {
    .comingBold {
        font-weight: 600;
    }
    .rightPartContainer h1 {
        font-size: 34px;
    }
}

@media (max-width: 430px) {
    .rightPartContainer h1 {
        font-size: 24px;
    }
    .textBlock {
        padding-right: 0px;
    }
}

.textBlockFull {
    height: 60vh;
    overflow-y: auto;
}

.textBlockFull .readMoreButton {
    display: none;
}

@media (max-width: 1366px) {
    .leftPartComingSoon img {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .leftPartComingSoon img {
        width: 70%;
    }
    .leftPartComingSoon {
        text-align: center;
    }
}

@media (max-width: 490px) {
    .leftPartComingSoon img {
        width: 100%;
    }
    .leftPartComingSoon {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .leftPart {
        padding-bottom: 0px;
    }
}

.BlackFooter a {
    color: #0375FA;
    text-decoration: none;
}